ul {
    list-style-type: square;
    background: #3399ff;
    padding: 15px;
}
ul li {
    background: #cce5ff;
    padding: 5px;
    margin: 5px 0 0 35px;
}
ol {
    background: #ff9999;
    padding: 15px;
}
ol li {
    background: #ffe5e5;
    padding: 5px;
    margin: 5px 0 0 35px;
}

body {
    background-image:("https://res.cloudinary.com/dfog0e294/image/upload/v1545741355/webdev/Migo.png");
    background-color: white;
}
